<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Receipt</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Receipt Detail</div>
        <hr><!-- comment -->
        <table border="1" cellspacing="1" cellspading="10">
            
            <th>Nama Sayuran</th>
            <th>Jumlah</th>
            <th>Harga Satuan (Rp)</th><!-- comment -->
            <th>Harga Awal (Rp)</th>
            <th>Diskon (Rp)</th>
            <th>Harga Akhir (Rp)</th>
            <th>Uang Dibayarkan (Rp)</th>
            <th>Keterangan</th>
            
            <tr>
                <td th:text="${nama}"></td></br>
                <td th:text="${quantity}"></td></br>
                <td th:text="${harga}"></td></br>
                <td th:text="${hAwal}"></td></br>
                <td th:text="${hDiskon}"></td></br>
                <td th:text="${tBayar}"></td></br>
                <td th:text="${uBayar}"></td></br>
                <th th:text="${ket}"></th>
            </tr>
        </table>
        <br>
        <th>Selamat anda mendapat diskon sebesar </th><td th:text="${diskon}"></td><th>%</th></br>
    </body>
</html> 